---
// Define props from Astro
const { title, subTitle, primaryBtn,
  primaryBtnURL,
  secondaryBtn,
  secondaryBtnURL, } = Astro.props;
import PrimaryCTA from "@/components/ui/buttons/PrimaryCTA.astro";
import SecondaryCTA from "@/components/ui/buttons/SecondaryCTA.astro";
import prodeng from "@/images/clients/prodeng.svg";

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
  primaryBtn?: string;
  primaryBtnURL?: string;
  secondaryBtn?: string;
  secondaryBtnURL?: string;

}
---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <!-- Title and description -->
  <div class="mx-auto mb-6 w-full space-y-1 text-center overflow-x-auto">
    <h2
      class="text-balance text-2xl font-bold leading-tight text-esmerald-500 dark:text-esmerald-500 sm:text-3xl md:text-6xl";
    >
      {title}
    </h2>
    {
      subTitle && (
        <p class="text-pretty font-dark text-neutral-800 leading-tight dark:font-white dark:text-neutral-200">
          {subTitle}
        </p>
      )
    }
  </div>
  <div class="flex flex-wrap items-center justify-center gap-y-2 sm:gap-x-12 sm:gap-y-0 lg:gap-x-24 max-w-full overflow-hidden">
    <img src="src/images/multipla/grupo horizonte.png" alt="Logo 1" class="h-20 w-auto max-w-full object-contain"/>
    <img src="src/images/multipla/logo ferrere.png" alt="Logo 2" class="h-20 w-auto max-w-full object-contain"/>
    <img src="src/images/multipla/ribeiro.png" alt="Logo 3" class="h-24 w-auto max-w-full object-contain"/>
    <img src="src/images/multipla/marca_making_02.png" alt="Logo 4" class="h-16 w-auto max-w-full object-contain"/>
    <img src="src/images/multipla/petrogas.png" alt="Logo 5" class="h-20 w-auto max-w-full object-contain"/>
    <img src="src/images/multipla/galileo.png" alt="Logo 6" class="h-20 w-auto max-w-full object-contain"/>
    <img src="src/images/multipla/Rio limay recursos web_edited.png" alt="Logo 7" class="h-14 w-auto max-w-full object-contain"/>
    <img src="src/images/multipla/ecokit.png" alt="Logo 8" class="h-24 w-auto max-w-full object-contain"/>
</div>

   
  </div>

  <div class="mt-7 grid w-full gap-3 sm:inline-flex justify-center">
    {primaryBtn && 
    <PrimaryCTA title={primaryBtn} url={primaryBtnURL} />
    }
    {secondaryBtn && 
    <SecondaryCTA title={secondaryBtn} url={secondaryBtnURL} />
    }
  </div>
</section>
