---
import { Icons } from "./icons.ts";

interface Path {
  d: string;
  class?: string;
}

const { name } = Astro.props;
const icon = (Icons as any)[name] || {};

const {
  src,
  class: iconClass,
  width,
  height,
  paths = [],
  viewBox,
  fill,
  clipRule,
  fillRule,
  stroke,
  strokeWidth,
  strokeLinecap,
  strokeLinejoin,
  title
} = icon;
---

{src ? (
  // Renderiza íconos PNG
  <img
    src={src}
    class={iconClass}
    width={width}
    height={height}
    alt={name}
  />
) : (
  // Renderiza íconos SVG
  <svg
    class={iconClass}
    height={height}
    viewBox={viewBox}
    width={width}
    fill={fill}
    clip-rule={clipRule}
    fill-rule={fillRule}
    stroke={stroke}
    stroke-width={strokeWidth}
    stroke-linecap={strokeLinecap}
    stroke-linejoin={strokeLinejoin}
  >
    {title && <title>{title}</title>}
    {paths.map((path: Path) => (
      <path d={path.d} class={path.class || ""} />
    ))}
  </svg>
)}
